[submodule "vendor/swagger-ui"]
	path = vendor/swagger-ui
	url = https://github.com/wordnik/swagger-ui.git
[submodule "vendor/etcdctl"]
	path = vendor/etcdctl
	url = https://github.com/coreos/etcdctl.git
[submodule "vendor/fleet"]
	path = vendor/fleet
	url = https://github.com/coreos/fleet
[submodule "vendor/coreos-vagrant"]
	path = vendor/coreos-vagrant
	url = https://github.com/coreos/coreos-vagrant.git
[submodule "vendor/docker-haproxy-etcd"]
	path = vendor/docker-haproxy-etcd
	url = https://github.com/redguava/docker-haproxy-etcd.git
[submodule "vendor/logstash-dockerfile"]
	path = vendor/logstash-dockerfile
	url = https://github.com/denibertovic/logstash-dockerfile.git
[submodule "vendor/docker-logstash-forwarder"]
	path = vendor/docker-logstash-forwarder
	url = https://github.com/digital-wonderland/docker-logstash-forwarder
