[Unit]
Description=Announce restreference-api
BindsTo=restreference-api.2.service

[Service]
ExecStart=/bin/sh -c "while true; do etcdctl set /services/restreference/api2 '{ \"host\": \"%H\", \"port\": 8080, \"version\": \"1.0-SNAPSHOT\" }' --ttl 60;sleep 45;done"
ExecStop=/usr/bin/etcdctl rm /services/restreference/api2

[X-Fleet]
X-ConditionMachineOf=restreference-api.2.service
